/* Mobible */
@media (max-width: 767px) {
    .heading__text {
        font-size: 32px;
    }

    .icon__search {
        width: 30px;
    }

    .box__1 {
        width: 140px;
        height: 68px
    }

    .image__conten {
        width: 100%;
        height: 100%;
    }

    .box__2 {
        width: 100%;
        height: 80px;
        overflow: hidden;
    }

    #conten__ul .title__text a{
        font-size: 11px;
    }

    .time__text {
        font-size: 8px;
    }
    
    .content__text {
        font-size: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .search__date {
        width: 340px;
        height: 160px;
        
    }

    .xmark {
        width: 20px;
    }

    .keyword {
        font-size: 12px;
    }

    #myInput {
        margin-top: 28px;
        width: 220px;
        margin-right: 40px;
    }

    #from, #to {
        width: 120px;
        height: 16px;
        font-size: 8px;
    }

    .from__text, .to__text {
        font-size: 12px;
        font-style: italic;
    }

    .no__result {
        font-size: 14px;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .box__1 {
        width: 320px;
        height: 120px
    }

    .image__conten {
        width: 100%;
        height: 100%;
    }

    .box__2 {
        width: 100%;
        height: 120px;
        overflow: hidden;
    }

    #conten__ul .title__text a{
        font-size: 16px;
    }

    .time__text {
        font-size: 12px;
    }
    
    .content__text {
        font-size: 13px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .search__date {
        width: 640px;
        height: 140px;   
    }

    .xmark {
        width: 20px;
    }

    .keyword {
        font-size: 13px;
    }

    #myInput {
        margin-top: 28px;
        width: 200px;
        
    }

    #from, #to {
        width: 120px;
        height: 16px;
        font-size: 10px;
    }

    .from__text, .to__text {
        font-size: 13px;
        font-style: italic;
    }

    .no__result {
        font-size: 16px;
    }
}